[submodule "lib/cwalk"]
	path = lib/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "lib/cJSON/cJSON"]
	path = lib/cJSON/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "lib/rogueutil/rogueutil"]
	path = lib/rogueutil/rogueutil
	url = https://github.com/sakhmatd/rogueutil.git
